html {
    background: linear-gradient(045deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 0px;
    margin: 0px;
    height: 100%;
    color: #FFF;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

body {
    margin: 10px 15px 15px 15px;
}

#info {
    position: absolute;
    top: 0px
    left: 0px;
    margin-left: -10px;
}

img#btc-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 85px;
    width: 85px;
    -webkit-app-region: drag;
}

.refresh-control {
    float: left
}

.refresh-controler, #timer {
    font-size: 10pt;
    margin-left: 10px;
}

.refresh-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
}

#progress {
    position relative;
    background: #28959b;
    height: 100%;
    width: 0%
}

h1 {
    position: relative;
    float: left;
    font-size: 32pt;
    margin: 0px 0px 0px 0px;
}

p {
    position: absolute;
    bottom: 15px;
    margin: 15px 0px 0px 0px;
    font-size: 16pt;
}

div#drag-region {
    position: absolute;
    left: 0px;
    height: 15px;
    width: 100%;
    -webkit-app-region: drag;
}
